<section class="cart_section mt-4">
    <div class="container">
        <div class="cart_header">
            <span>Cart</span>
            <span class="btn btn-primary btn-sm" routerLink="/">Continue shopping</span>
        </div>
        <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub Total</th>
                <th scope="col">Remove Item</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getCartDetails">
                <td>
                    <img src="{{item.img}}" style="width: 120px;">
                </td>
                <td>$ {{item.price}}</td>
                <td>
                    <div class="content">
                        <button type="button" class="btn_add" (click)="incQty(item.id, item.qnt)"> + </button>
                            <span>{{item.qnt}}</span>
                        <button type="button" class="btn_min" (click)="decQty(item.id, item.qnt)"> - </button>
                    </div>
                </td>
                <td>
                    $ {{item.price * item.qnt}}
                </td>
                <td>
                    <fa-icon [icon]="faTrashAlt" style="color:red;" (click)="singleDelete(item.id)"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="total_section">
            <span class="total_area">Total:  {{ totalNumber | currency:'ksh' }}</span>
            
            <button class="btn btn-danger rounded-0" (click)="removeAll()">
                <fa-icon [icon]="faTrashAlt"></fa-icon> Remove all items
            </button>

            <button class="btn btn-secondary rounded-0" routerLink="/invoice">
              Proceed to the next 
              <fa-icon [icon]="faArrowRightLong"></fa-icon>
            </button>
          </div>
    </div>
</section>